body {
  padding: 30px;
  background-color: rgb(184, 163, 122);
  text-align: center;
}

.todo {
  padding: 30px;
  margin: 20px;
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: center;
}
.card{
border-radius: 10px;
height: 500px;
padding: 20px;
background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.title{
  text-align: center;
  font-size: 30px;
  color: white;
  margin-left: 0px;
}
.form{
  height: 35px;
  width: 200px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  
}
 .btn{
  border-radius: 10px;
   height: 40px;
   width: 55px;
   border: none;
   font-size: 14px;
   background-color: white;
 }
 .btn:hover{
  opacity: 0.8;
 }
 .listTodo{
   font-size: 18px;
   margin-left: -35px;
  
 }
 .removeBtn{
   margin-left: 50px;
   cursor: pointer;
 }
 .removeBtn:hover{
   color: red;
 }
 .todos{
   width: 130px;
   text-align: start;
   margin-left: 8px;
 }
 .editIcon{
   margin-left: 19px;
 }
 .editIcon:hover{
   color:  rgb(2, 136, 245);
   cursor: pointer;
 }